* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  border: none;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
}

.logo {
  height: 40px;
  width: 32.1px;
  filter: invert(1);
}

.map {
  width: 25rem;
  height: 25rem;
}

.elogo {
  height: 22.688rem;
  width: 16.375rem;
  filter: invert(1);
}

@media screen and (max-width: 442px) {
  .map {
    width: 18rem;
    height: 18rem;
  };
}

a {
  text-decoration: none;
  color: #A82525;
  font-weight: 450;
}

a:visited { text-decoration: none; }
